.secicon{
    background-color:$btn-color;
    color: white;
    h1{
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 100;
        height: 94px;
        width: 250px;
    }

    figure{
        margin-right: 70px;
    }
    
    
}